* {
    margin: 0;
    padding: 0;
}

body {
    background: #121214 url(./assets/assets/read_news.jpg) no-repeat center right / 50% 100%;
}

div {
    margin: 30px 20px;
    height: 100vh;
    width: 95vw;
}

header img {
    height: 100px;
    width: 300px;
}

header {
    margin-bottom: 50px;
}

h2 {
    color: #04D361;
    margin-bottom: 10px;
}

strong {
    color: aliceblue;
}

p {
    color: #E1E1E6;
}

form {
    width: 900px;
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

label {
    color: #A8A8A8;
}

#email {
    height: 40px;
    width: 800px;
    
    border: 0;
    border-left: 7px solid #04D361;
    border-radius: 5px;
    outline: none;

    padding-left: 8px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    height: 44px;
    width: 44px;

    background: #8257e5 url(./assets/assets/send.svg) no-repeat center;
    color: white;
    
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(0.9)
}

article {
    margin-top: 70px;
}

a {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #8257e5;
    text-decoration: none;
    width: 176px;
}

a img {
    color: white;
    background-color: #8257e5;
}

